/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Inicio do Css Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fim do Css Reset */

/* Telas ate 768px */

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #540B51;
}

.brand {
    display: flex;
    align-items: center;
    width: 700px;
    margin: 50px 50px;
}

.brand > img {
    width: 190px;
}

.brand > ul {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn > button {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-style: none;    
}

/* Header */

#header {
    display: flex;
    flex-direction: column;
    background-color: #540B51;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header > h1 {
    font-size: 5em;
    font-weight: 700;
    color: white;
    margin: 50px 0;
}

.header > p {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

#span {
    color: darkgoldenrod;
}

.btn-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-email {
    border-radius: 10px;
    height: 100px;
    background-color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 20px;
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 100px;
    background-color: #4285F4;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin: 20px 20px;
}

.btn-google > img {
    height: 80px;
    background-color: white;
    margin-right: 50px;
}

.header-img {
    display: flex;
    justify-content: center;
    min-width: auto;
    max-width: 768px;
}

.logo-img {
    width: 500px;
    resize: both;
}


/* Section partnes */

#companies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3EAE2;
}

#companies > p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos > img {
    resize: both;
    width: 130px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F3EAE2;
}

.title-section {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

.paragraph-section {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 1.5em;
    line-height: 1.5;
}

.link-section {
    margin: 30px 30px;
    margin-bottom: 70px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.img-topic {
    min-width: 300px;
    max-width: 768px;
}

.speed {
    display: flex;
    flex-direction: column;
    background-color: #F3EAE2;
}

#cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#cta > h3 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 70px 50px;
}

#cta > p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
    padding: 0 80px;
    margin-bottom: 30px;
}

.container-cta-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cta-btn {
    border: 2px solid #540B51;
    border-radius: 5px;
    margin: 5px 30px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    color: #540B51;
    background-color: white;
}

.cta-btn-meet {
    border: 2px solid #540B51;
    border-radius: 5px;
    margin: 5px 30px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #540B51;
}

.list-cta {
    padding: 50px 100px;
}

.p-li {
    color: #540B51;
    font-size: 4.5em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.desc-li {
    font-size: 1.5em;
    font-weight: bold;    
}

.container-cta {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #540B51;
}

.sub-cta {
    font-size: 3em;
    font-weight: bold;
    margin: 50px;
    color: white;
}

.cta-btn {
    border: 2px solid #540B51;
    border-radius: 5px;
    margin: 5px 30px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    color: #540B51;
    background-color: white;
}

.cta-btn-meet {
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 30px 30px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #540B51;
}

#foo {
    display: flex;
    flex-direction: column;
}

#foo > img {
    width: 90px;
    margin: 30px 50px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 30px 30px;
}

.lista-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 10px;
}

.title-li {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 30px;
}

.item-li {
    font-weight: bold;
    color: grey;
    margin-bottom: 20px;
}

.social-media {
    display: flex;    
    justify-content: center;
    margin: 30px 20px;
}

hr {
    width: 60%;
    border: grey solid 1px;;
}

.social-media > li > i{
    font-size: 3em;
    margin: 30px 30px;
}

#credits {
    line-height: 1.5;
    margin: 30px 30px;
}




/* Trabalhando com media querys */
@media all and (min-width: 768px) and (max-width: 1024px) {
    /* Header */

    #header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        background-color: #540B51;
        align-items: center;
    }

    .header > h1 {
        font-size: 3em;
        margin: 10px 30px;
    }

    .header > p {
        text-align: left;
        margin: 30px 30px;
    }

    .btn-header {
        margin-bottom: 50px;
    }

    .btn-header > button {
        width: 400px;
        height: 100px;
    }

    .logo-img {
        width: 800px;
    }

    #companies {
        padding: 10px;
    }

    .logos {
        display: flex;
        justify-items: center;
        padding: 30px;
    }

    .logos > img {
        width: 130px;
        height: 80px;
    }

    .child-section {
        background-color: #F3EAE2;
        display: flex;
        flex-direction: column;
    }

    .img-topic {
        min-width: 100%;
        max-width: 80%;
        height: 700px;
        object-fit: fill;
    }

    .container {
        padding: 50px 50px;
    }

    .container-cta-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container-cta-btn > button {
        padding: 30px 30px;
    }

    .list-cta {
        display: flex;
        flex-direction: row;
    }

    .list-cta > li {
        margin: 30px 40px;
    }

    .container-cta {
        padding: 50px 100px;
    }

    .lista-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.6em;
        font-weight: 200;
        text-align: center;
        margin: 20px 10px;
    }

    .social-media {
        display: flex;
        justify-content: flex-start;
    }
  }

  @media all and (min-width: 1024px) and (max-width: 1440px) {

    .nav-bar {
        display: flex;
        justify-content: space-between;
    }

    .brand {
        display: flex;
        justify-content: center;
        margin: 30px 10px;
        /* width: 800px; */
    }

    .brand > ul {
        display: flex;
        margin-left: 50px;  
    }

    li > a {
        text-decoration: none;
        color: white;
        font-size: 1em;
        margin: 10px 10px;
    }

    .btn {
        display: flex;
        justify-content: center;
        width: 400px;
    }

    .btn-menu {
        display: none;
    }

    .btn > ul {
        display: flex;
    }

    .btn-try {
        background-color: white;
        color: #540B51;
        padding: 20px 15px;
    }

    #header {
        display: flex;
        flex-direction: row;
    }

    .header {
        display: flex;
        align-items: flex-start;
        margin: 20px 20px;
    }

    .header-img {
        display: flex;
        align-items: center;
    }

    .logos {
        margin: 50px 50px;
    }

    .child-section {
        display: flex;
        background-color: #F3EAE2;
        align-items: center;
    }

    .img-topic {
        height: 450px;
        margin: 0 20px 0 0;
    }

    .container-cta-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cta-btn-meet {
        padding: 20px 30px;
    }

    .list-cta {
        display: flex;
        flex-direction: row;
    }

    .container-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cta > button{
        width: 300px;
    }

    .lista-row {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 0.9em;
    }

    .social-media {
        display: flex;
        justify-content: flex-start;
    }
    
  }

  @media all and (min-width: 1440px) {
    
  }